@use '../../../ui-kit/admin-shared' as admin;

:host {
  @include admin.admin-host;
}

.warehouses-page {
  @include admin.admin-page;
}

.page-content {
  @include admin.list-page-content;
}

.table-container {
  @include admin.tabs-table-container;
}

@include admin.tabs-table-data-table;

::ng-deep .data-table {
  background: #f4f4f5;

  &__header-row,
  &__header-cell {
    background: white;
  }

  &__row {
    &:hover {
      background: white;
    }
  }
}

:host ::ng-deep {
  .toggle-cell {
    @include admin.toggle-cell;
  }

  .toggle {
    @include admin.inline-toggle;
  }
}
