<!-- select.component.html -->
<div class="select" [class.select--disabled]="disabled">
    <div
        class="select__field"
        [class.select__field--open]="isOpen"
        [class.select__field--disabled]="disabled"
        (click)="toggleDropdown()"
        (keydown)="onKeyDown($event)"
        tabindex="0"
        role="combobox"
        [attr.aria-expanded]="isOpen"
        [attr.aria-required]="required"
        [attr.aria-disabled]="disabled">

        <div class="select__value" *ngIf="!multiple && selectedOptions.length" [ngClass]="getOptionClass(selectedOptions[0])" [class.select__value--center]="optionsAlign === 'center'" [class.select__value--right]="optionsAlign === 'right'">
            {{ getDisplayValue(selectedOptions[0]) }}
        </div>

        <div class="select__chips" *ngIf="multiple && selectedOptions.length">
            <div class="select__chip" *ngFor="let option of selectedOptions">
                {{ getDisplayValue(option) }}
                <button
                    class="select__chip-remove"
                    (click)="removeOption(option, $event)"
                    tabindex="-1"
                    aria-label="Remove option">
                    ×
                </button>
            </div>
        </div>

        <div class="select__placeholder" *ngIf="!selectedOptions.length">
            {{ placeholder }}
        </div>

        <div class="select__actions">
            <button
                *ngIf="clearable && selectedOptions.length && !disabled"
                class="select__clear"
                (click)="clearSelection($event)"
                tabindex="-1"
                aria-label="Clear selection">
                ×
            </button>
            <div class="select__icon" [class.select__icon--open]="isOpen">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M4 6L8 10L12 6" stroke="#232323" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="select__dropdown" *ngIf="isOpen" @dropdownAnimation>
        <div class="select__search" *ngIf="searchable">
            <input
                type="text"
                class="select__search-input"
                placeholder="Search..."
                [value]="searchText"
                (input)="onSearch($event)"
                (click)="$event.stopPropagation()"
                (keydown.escape)="$event.stopPropagation()"
                aria-label="Search">
        </div>

        <div class="select__no-results" *ngIf="filteredOptions.length === 0">
            No results found
        </div>

        <div class="select__options" [class.select__options--center]="optionsAlign === 'center'" [class.select__options--right]="optionsAlign === 'right'" role="listbox">
            <div
                *ngFor="let option of filteredOptions"
                class="select__option"
                [class.select__option--selected]="isSelected(option)"
                [ngClass]="getOptionClass(option)"
                (click)="selectOption(option)"
                role="option"
                [attr.aria-selected]="isSelected(option)">
                <div class="select__checkbox" *ngIf="multiple">
                    <div class="select__checkbox-inner" *ngIf="isSelected(option)"></div>
                </div>
                {{ getDisplayValue(option) }}
            </div>
        </div>
    </div>
</div>
