<div class="countries-page" (click)="closeDropdown()">
  <ui-breadcrumbs variant="page-header" separator="line" [items]="[{ label: 'Countries' }]"></ui-breadcrumbs>

  <main class="page-content">
    <ui-list-header
      title="Country list"
      icon="flag"
      [count]="totalItems()"
      addButtonLabel="Add country"
      [showSearch]="true"
      [showBulkDeleteButton]="true"
      [isBulkDeleteDisabled]="!hasSelected()"
      [searchQuery]="searchQuery"
      searchWidth="346px"
      (searchQueryChange)="onSearchChange($event)"
      (add)="onAddCountry()"
      (bulkDelete)="onBulkDelete()"
    ></ui-list-header>

    <div class="table-container">
      <ui-data-table
        [columns]="columns"
        [data]="countries()"
        [sortColumn]="sortColumn"
        [sortDirection]="sortDirection"
        (sort)="onSortChange($event)"
      ></ui-data-table>
    </div>

    <ui-table-footer
      [showingFrom]="1"
      [showingTo]="countries().length"
      [totalItems]="totalItems()"
      [showPagination]="true"
      [currentPage]="currentPage()"
      [itemsPerPage]="itemsPerPage()"
      (pageChange)="onPageChange($event)"
    ></ui-table-footer>
  </main>
</div>

<!-- Checkbox Header Template (with select all dropdown) -->
<ng-template #checkboxHeaderTemplate>
  <ui-table-checkbox-selection
    [isHeader]="true"
    [isDropdownOpen]="isHeaderDropdownOpen()"
    (dropdownToggle)="onHeaderDropdownToggle($event)"
    (selectAll)="onSelectAll()"
    (selectNone)="onSelectNone()"
  ></ui-table-checkbox-selection>
</ng-template>

<!-- Checkbox Template (for rows) -->
<ng-template #checkboxTemplate let-row>
  <ui-table-checkbox-selection
    [isHeader]="false"
    [checked]="row.selected"
    (change)="toggleCountrySelection(row)"
  ></ui-table-checkbox-selection>
</ng-template>

<!-- European Union Template -->
<ng-template #europeanUnionTemplate let-row>
  <ui-badge 
    [variant]="row.europeanUnion ? 'success' : 'danger'" 
    size="sm">
    {{ row.europeanUnion ? 'Yes' : 'No' }}
  </ui-badge>
</ng-template>

<!-- Actions Template -->
<ng-template #actionsTemplate let-row>
  <ui-table-actions-dropdown
    [isOpen]="openDropdownId() === row.id"
    [row]="row"
    [actions]="tableActions"
    (toggle)="toggleDropdown(row.id, $event)"
    (actionClick)="onActionClick($event)"
    (close)="closeDropdown()"
  ></ui-table-actions-dropdown>
</ng-template>
